<h2>신규등록</h2>

<form class="form-horizontal">
    <div class="input-group-sm">
        <label class="control-label col-lg-1 col-md-2 col-sm-2 col-xs-4 input-sm">담당자</label>
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-8">
            <input type="text" class="form-control input-sm" placeholder="" />
        </div>
    </div>
    <div class="input-group-sm">
        <label class="control-label col-lg-1 col-md-2 col-sm-2 col-xs-4  input-sm">고객명</label>
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-8">
            <input type="text" class="form-control input-sm" placeholder="" />
        </div>
    </div>
    <div class="input-group-sm">
        <label class="control-label col-lg-1 col-md-2 col-sm-2 col-xs-4  input-sm">진료과</label>
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-8">
            <input type="text" class="form-control input-sm" placeholder="" />
        </div>
    </div>
    <div class="input-group-sm">
        <label class="control-label col-lg-1 col-md-2 col-sm-2 col-xs-4  input-sm">병원명</label>
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-8">
            <input type="text" class="form-control input-sm" placeholder="" />
        </div>
    </div>
    <div class="input-group-sm">
        <label class="control-label col-lg-1 col-md-2 col-sm-2 col-xs-4  input-sm">주소(시/도)</label>
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-8">
            <input type="text" class="form-control input-sm" placeholder="" />
        </div>
    </div>
    <div class="input-group-sm">
        <label class="control-label col-lg-1 col-md-2 col-sm-2 col-xs-4  input-sm">주소(시군구)</label>
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-8">
            <input type="text" class="form-control input-sm" placeholder="" />
        </div>
    </div>
    <div class="input-group-sm">
        <label class="control-label col-lg-1 col-md-2 col-sm-2 col-xs-4  input-sm">주소(상세)</label>
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-8">
            <input type="text" class="form-control input-sm" placeholder="" />
        </div>
    </div>
    <div class="input-group-sm">
        <label class="control-label col-lg-1 col-md-2 col-sm-2 col-xs-4  input-sm">우편번호</label>
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-8">
            <input type="text" class="form-control input-sm" placeholder="" />
        </div>
    </div>
    <div class="input-group-sm">
        <label class="control-label col-lg-1 col-md-2 col-sm-2 col-xs-4  input-sm">휴대폰</label>
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-8">
            <input type="text" class="form-control input-sm" placeholder="" />
        </div>
    </div>
    <div class="input-group-sm">
        <label class="control-label col-lg-1 col-md-2 col-sm-2 col-xs-4  input-sm">근무지연락처</label>
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-8">
            <input type="text" class="form-control input-sm" placeholder="" />
        </div>
    </div>
    <div class="input-group-sm">
        <label class="control-label col-lg-1 col-md-2 col-sm-2 col-xs-4  input-sm">전자우편주소</label>
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-8">
            <div class="input-group">
                <input type="text" class="form-control input-sm" placeholder="" />
                <div class="input-group-addon input-sm">@@</div>                
                <div class="form-control input-sm" id="input_domain" ></div>
            </div>            
        </div>
    </div>
    <div class="input-group-sm">
        <label class="control-label col-lg-1 col-md-2 col-sm-2 col-xs-4  input-sm">동의1</label>
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-8">
            <input type="text" class="form-control input-sm" placeholder="" />
        </div>
    </div>
    <div class="input-group-sm">
        <label class="control-label col-lg-1 col-md-2 col-sm-2 col-xs-4  input-sm">동의2</label>
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-8">
            <input type="text" class="form-control input-sm" placeholder="" />
        </div>
    </div>
    <div class="input-group-sm">
        <label class="control-label col-lg-1 col-md-2 col-sm-2 col-xs-4  input-sm">동의3</label>
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-8">
            <input type="text" class="form-control input-sm" placeholder="" />
        </div>
    </div>
    <div class="input-group-sm">
        <label class="control-label col-lg-1 col-md-2 col-sm-2 col-xs-4  input-sm">동의서명</label>
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-8">
            <input type="text" class="form-control input-sm" placeholder="" />
        </div>
    </div>
    <div class="input-group-sm">
        <label class="control-label col-lg-1 col-md-2 col-sm-2 col-xs-4  input-sm">동의날짜</label>
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-8">
            <input type="text" class="form-control input-sm" placeholder="" />
        </div>
    </div>
    <div class="input-group-sm">
        <label class="control-label col-lg-1 col-md-2 col-sm-2 col-xs-4  input-sm">동의서버전</label>
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-8">
            <input type="text" class="form-control input-sm" placeholder="" />
        </div>
    </div>
    <div class="input-group-sm">
        <label class="control-label col-lg-1 col-md-2 col-sm-2 col-xs-4  input-sm">채널(주)</label>
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-8">
            <input type="text" class="form-control input-sm" placeholder="" />
        </div>
    </div>
    <div class="input-group-sm">
        <label class="control-label col-lg-1 col-md-2 col-sm-2 col-xs-4  input-sm">채널(부)</label>
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-8">
            <input type="text" class="form-control input-sm" placeholder="" />
        </div>
    </div>
    <div class="input-group-sm">
        <label class="control-label col-lg-1 col-md-2 col-sm-2 col-xs-4  input-sm">링크정보</label>
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-8">
            <input type="text" class="form-control input-sm" placeholder="" />
        </div>
    </div>
    <div class="form-group">
        <a href="/User/Dashboard" id="" name="" class="btn btn-sm btn-primary pull-right">저장</a>
        <a href="/User/Dashboard" id="" name="" class="btn btn-sm btn-primary pull-right">취소</a>
    </div>
</form>

<script>
    $(document).ready(function () {
        CreateStatesCombo();
    });
    function CreateStatesCombo() {
        var combo = new STComboBox();
        combo.Init('input_domain');
        var data = [];
        var states = GetStates();

        for (var i = 0; i < states.length; i++) {
            data.push({ id: i, text: states[i] });
        }
        combo.populateList(data);
    }
    function GetStates() {
        return [
            "Alabama",
            "Alaska",
            "Arizona",
            "Arkansas",
            "California",
            "Colorado",
            "Connecticut",
            "Delaware",
            "Florida",
            "Georgia",
            "Hawaii",
            "Idaho",
            "Illinois",
            "Indiana",
            "Iowa",
            "Kansas",
            "Kentucky",
            "Louisiana",
            "Maine",
            "Maryland",
            "Massachusetts",
            "Michigan",
            "Minnesota",
            "Mississippi",
            "Missouri",
            "Montana",
            "Nebraska",
            "Nevada",
            "New Hampshire",
            "New Jersey",
            "New Mexico",
            "New York",
            "North Carolina",
            "North Dakota",
            "Ohio",
            "Oklahoma",
            "Oregon",
            "Pennsylvania",
            "Rhode Island",
            "South Carolina",
            "South Dakota",
            "Tennessee",
            "Texas",
            "Utah",
            "Vermont",
            "Virginia",
            "Washington",
            "West Virginia",
            "Wisconsin",
            "Wyoming"
        ];
    }
</script>