@using PrivacyConsentDB.Models
@model LoginModel

@{
    ViewBag.Title = "Log in";
}

<h2>&nbsp;</h2>
<div class="row" style="margin-top:2em;background-color:#fff;">
    <div class="form-horizontal">
        <hr>
        <hr>
        <div class="form-group">
            <div class="col-md-12">
                <div class="validation-summary-errors text-danger text-center">
                    <ul>
                        <li>등록 되지 않은 사용자 입니다.</li>
                    </ul>
                </div>
            </div>                
        </div>
        <hr>
        <hr>
    </div>
</div>

