<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="Local" connectionString="Data Source=(localdb)\MSSQLLocalDB;Integrated Security=true;AttachDbFilename=|DataDirectory|\PCMS.mdf;Integrated Security=True;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
    <!--<add name="DEV-APAC" connectionString="Data Source=ASPSDCW197\DEV2;Initial Catalog=PCMS_D;Integrated Security=False;User Id=PCMS_D_Owner;Password=Smpc@66554;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />-->
    <add name="PUBLISH" connectionString="Data Source=ASPSDCW197\DEV2;Initial Catalog=PCMS_D;Integrated Security=False;User Id=PCMS_D_Owner;Password=Smpc@66554;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="STAGE-APAC" connectionString="Data Source=ASPSDCW197\TEST2;Initial Catalog=PCMS_S;Integrated Security=False;User Id=PCMS_S_Owner;Password=Afd43@asrd;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <!--<add name="PUBLISH" connectionString="Data Source=aspsdcw198.apac.pfizer.com,2023;Initial Catalog=PCMS_P;Integrated Security=False;User Id=PCMS_P_Owner;Password=Gft@qw32qa;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />-->
    <add name="PUBLISH-old" connectionString="Data Source=ASPSDCW197\DEV2;Initial Catalog=PCMS_D;Integrated Security=False;User Id=PCMS_D_Owner;Password=Smpc@66554;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="ODSM" connectionString="Data Source=ASPSDCW529\ODS;Initial Catalog=ODSM;Integrated Security=False;User Id=View_User;Password=viewer123;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="ADConnectionString" connectionString="LDAP://apac.pfizer.com" />
    <add name="ODSMEntities" connectionString="metadata=res://*/ODSMModel.csdl|res://*/ODSMModel.ssdl|res://*/ODSMModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ASPSDCW529\ODS;initial catalog=ODSM;integrated security=False;user id=View_User;password=viewer123;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="user" value="okc_pfizer_kr" />
    <add key="password" value="4azr39" />
    <add key="ImpersonateUser" value="SRVASP-PCMSMGT" />
    <add key="ImpersonatePassword" value="Pfe51627" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>