<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>개인정보 등록 <small></small></h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">

                <div class="row">
                    <div class="col-md-offset-1 col-md-10">
                        <form class="form-horizontal">
                            <div class="input-group-sm">
                                <div class="form-group">
                                    <label class="control-label col-lg-2 col-md-2 col-sm-2 col-xs-4 ">담당자</label>
                                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-8">
                                        <input type="text" class="form-control " placeholder="" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-2 col-md-2 col-sm-2 col-xs-4  ">고객명</label>
                                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-8">
                                        <input type="text" class="form-control " placeholder="" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-2 col-md-2 col-sm-2 col-xs-4  ">진료과</label>
                                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-8">
                                        <input type="text" class="form-control " placeholder="" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-2 col-md-2 col-sm-2 col-xs-4  ">병원명</label>
                                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-8">
                                        <input type="text" class="form-control " placeholder="" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-2 col-md-2 col-sm-2 col-xs-4  ">주소(시/도)</label>
                                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-8">
                                        <input type="text" class="form-control " placeholder="" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-2 col-md-2 col-sm-2 col-xs-4  ">주소(시군구)</label>
                                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-8">
                                        <input type="text" class="form-control " placeholder="" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-2 col-md-2 col-sm-2 col-xs-4  ">주소(상세)</label>
                                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-8">
                                        <input type="text" class="form-control " placeholder="" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-2 col-md-2 col-sm-2 col-xs-4  ">우편번호</label>
                                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-8">
                                        <input type="text" class="form-control " placeholder="" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-2 col-md-2 col-sm-2 col-xs-4  ">휴대폰</label>
                                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-8">
                                        <input type="text" class="form-control " placeholder="" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-2 col-md-2 col-sm-2 col-xs-4  ">근무지연락처</label>
                                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-8">
                                        <input type="text" class="form-control " placeholder="" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-2 col-md-2 col-sm-2 col-xs-4  ">전자우편주소</label>
                                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-8">
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="" />
                                            <div class="input-group-addon ">@@</div>
                                            <div class="input-group input-append dropdown combobox" data-initialize="combobox" id="myCombobox" style="width:100% !important;">
                                                <input type="text" class="form-control">
                                                <div class="input-group-btn">
                                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
                                                    <ul class="dropdown-menu dropdown-menu-right">
                                                        <li data-value="pfizer.com"><a href="#">pfizer.com</a></li>
                                                        <li data-value="naver.com"><a href="#">naver.com</a></li>
                                                        <li data-value="daum.net"><a href="#">daum.net</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-2 col-md-2 col-sm-2 col-xs-4  ">동의1</label>
                                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-8">
                                        <input type="text" class="form-control " placeholder="" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-2 col-md-2 col-sm-2 col-xs-4  ">동의2</label>
                                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-8">
                                        <input type="text" class="form-control " placeholder="" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-2 col-md-2 col-sm-2 col-xs-4  ">동의3</label>
                                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-8">
                                        <input type="text" class="form-control " placeholder="" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-2 col-md-2 col-sm-2 col-xs-4  ">동의서명</label>
                                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-8">
                                        <input type="text" class="form-control " placeholder="" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-2 col-md-2 col-sm-2 col-xs-4  ">동의날짜</label>
                                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-8">
                                        <input type="text" class="form-control " placeholder="" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-2 col-md-2 col-sm-2 col-xs-4  ">동의서버전</label>
                                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-8">
                                        <input type="text" class="form-control " placeholder="" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-2 col-md-2 col-sm-2 col-xs-4  ">채널(주)</label>
                                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-8">
                                        <input type="text" class="form-control " placeholder="" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-2 col-md-2 col-sm-2 col-xs-4  ">채널(부)</label>
                                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-8">
                                        <input type="text" class="form-control " placeholder="" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-2 col-md-2 col-sm-2 col-xs-4  ">링크정보</label>
                                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-8">
                                        <input type="text" class="form-control " placeholder="" />
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="form-group">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-right">
                                    <a href="/User/Dashboard" name="" class="btn btn-sm btn-primary">저장</a>

                                    <a href="/User/Dashboard" name="" class="btn btn-sm btn-default">취소</a>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {

    });
</script>
